.hero {
  background: url(../Images/banners/hero/93f6df06-b574-4d35-aa24-5a3cba776bae3.jpg) no-repeat center;
  background-size: cover;
  height: 500px;
  position: relative;
  border-radius: 20px;
}

.hero-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 6rem;
}

.hero-content {
  color: #ffffff;
  max-width: 360px;
  text-align: center;
  
}

.hero-content .hero-title {
  font-size: 1.87rem;
  margin-bottom: 40px;
  font-weight: 400;
  letter-spacing: 3px;
}

.hero-content .hero-subtitle {
  font-size: 1.25rem;
  font-weight: 400;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.btn {
  font-size: 1.25rem;
  text-decoration: none;
  color: #ffffff;
  width: 161px;
  height: 48px;
  border-radius: 25px;
  font-weight: 400;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.btn-filled {
  background-color: #ffffff;
  border: none;
  color: #6329A2;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid #ffffff;
  line-height: 23px;
}

.btn:hover {
  background-color: #6329A2;
  border-color: #6329A2;
  color: #ffffff;
  /* transform: translateY(-3px); */
  box-shadow: 0 12px 20px rgba(0,0,0,0.2)
}